<div class="container-fluid d-flex w-100">
    <div class="d-flex gap-2">
        <a class="navbar-brand" href="{{ path('main_home') }}" title="Go back to homepage">Accueil</a>
        <a class="navbar-brand" href="{{ path('main_apropos') }}" title="Go back to aPropos">À propos</a>
        <a class="navbar-brand" href="{{ path('photo_list') }}" title="Liste des photos">Portfolio</a>
        <a class="navbar-brand" href="{{ path('main_contact') }}" title="Contact">Contact</a>
            {% if is_granted('IS_ADMIN') %}
        <a class="navbar-brand" href="{{ path('photo_create') }}" title="Ajouter une photo">Ajouter une photo</a>
            {% endif %}
        <a class="navbar-brand" href="{{ path('app_login') }}" title="Accès à la page connexion">Connexion</a>
    </div>
</div>
