<div class="container-fluid d-flex w-100">
    <div class="d-flex gap-2">
        <a class="navbar-brand" href="{{ path('main_home') }}" title="Go back to homepage">Home</a>
        <a class="navbar-brand" href="{{ path('main_apropos') }}" title="Go back to aPropos">À propos</a>
        <a class="navbar-brand" href="{{ path('photo_list') }}" title="Liste des photos">Liste</a>
        <a class="navbar-brand" href="{{ path('main_contact') }}" title="Contact">Contact</a>
        <a class="navbar-brand" href="{{ path('photo_create') }}" title="Ajouter une photo">Ajouter une photo</a>
    </div>
</div>
