{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Portfolio {% endblock %}

{% block body %}
<div class="card mt-2 mb-2 w-50 m-auto">
    <div class="card-body">
        <h5 class="card-title">{{ photo.title }}</h5>
            <p class="card-text">[{{ photo.category.name ?? 'Sans catégorie' }}]</p>
            <p class="wish-credit">Created by {{ photo.author }} on {{ photo.dateCreated|date('d/m/Y') }}</p>
            {# le filtre nl2br convertit les sauts de ligne du texte en balises <br> #}
            <p class="card-text">{{ photo.description|nl2br }}</p>
        <img src="{{ asset('uploads/posters/' ~ photo.poster) }}" alt="{{ photo.title }}" class="img-fluid">
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="text-center">
            <a href="{{ path('photo_delete', {'id': photo.id, 'token': csrf_token('delete'~photo.id)}) }}" class="btn btn-danger mt-2" onclick="return confirm('Etes vous sûr ?')">Supprimer cette photo</a>
            <a href="{{ path('photo_update', {'id': photo.id}) }}" class="btn btn-secondary mt-2" title="Modifier la photo"> Modifier </a>
        </div>
    {% endif %}
{% endblock %}